[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "metricminer"]
	path = metricminer
	url = https://github.com/ottrproject/metricminer
